{% extends 'base.html.twig' %}

{% block title %}Hello JeuController!{% endblock %}
{%  block stylesheets %}{% endblock %}
{% block main %}
    <h1>Formulaire du Client</h1>
    {{ form(form_jeu) }}
{% endblock %}
