<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    {% endblock %}

</head>
<body>
{% block nav %}
    <nav>
        <ul>
            <li><strong>SAE301</strong></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <a href="{{ path('app_commande') }}">Réserver</a>
            <li><a href="{{ path('app_actu') }}">Actualités</a></li>
            <li><a href="{{ path('app_connexion') }}">Connexion</a></li>
        </ul>
    </nav>
{% endblock %}

{% block main %}
{% endblock %}

{%  block footer %}
    <footer style="position: absolute; bottom: 0;">@Designed By MMI</footer>
{% endblock %}
</body>
</html>
